@model Personagem
<hr />
<div style="overflow: hidden; margin-top: 50px;">
	<div style="float: left; margin-right: 50px;">
		<img src="@Model.UrlImagem"  />
	</div>
	<div style="margin-left: 50px;">
		<h2><a href="@Model.UrlWiki">@Model.Nome</a></h2>
		<p>@Model.Descricao</p>
	</div>
</div>
<hr/>
<div class="row" style="text-align: center">
	<fieldset>
		<div class="form-group">
			<button type="button" class="btn btn-primary" onclick="location.href = document.referrer;">Voltar</button>
		</div>
	</fieldset>
</div>


